body{
    overflow-x: hidden;
}

img{
    max-width: 300px;
}

header{
    margin-bottom: 20px;
}


.navbar-nav{
    /* flex-direction: row; */
    justify-content: space-between;
}


.nav-item{
    text-transform: uppercase;
    color: whitesmoke;
}

.nav-link{
    color: whitesmoke;
}

main{
    padding: 50px 0;   
}

.about{
    align-items: center;
}

.article{
    padding: 50px 0;
}

    article{
        margin-bottom: 20px;
    }

    article::after{
        content: "";
        border-bottom: rgb(35 39 43) solid 2px;
        display: block;

    }

footer{
    background-color: rgb(35 39 43);
    padding: 20px 0;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
}

    footer span{
        color: rgb(199, 199, 199);
        font-weight: bold;
    }